<!DOCTYPE html>
<html lang="ua" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

<div class="page-wrapper">
  <div class="background-wrapper">
    <div class="cityscape"></div>
    <div class="smoke-effect"></div>
  </div>

  <main class="container mt-5 content">
    <h1 class="edit-product-title">Редагування товару</h1>
    <form class="edit-product-form" th:action="@{/products/edit/{id}(id=${product.id})}"
          th:object="${product}" method="post" onsubmit="return validateForm()">
      <div class="form-group">
        <label class="form-label">Назва товару:</label>
        <input type="text" th:field="*{name}" class="form-input" required>
      </div>
      <div class="form-group">
        <label class="form-label">Опис:</label>
        <textarea th:field="*{description}" class="form-textarea"></textarea>
      </div>
      <div class="form-group">
        <label class="form-label">Ціна:</label>
        <input type="number" step="0.01" th:field="*{price}" class="form-input" required min="0">
      </div>
      <div class="form-group">
        <label class="form-label">Кількість на складі:</label>
        <input type="number" th:field="*{stock}" class="form-input" required min="0">
      </div>
      <div class="form-group">
        <label class="form-label">Покликання на зображення:</label>
        <input type="text" th:field="*{imageUrl}" class="form-input">
      </div>
      <div class="form-group">
        <label class="form-label">Категорія:</label>
        <select th:field="*{categoryId}" class="form-select" required>
          <option value="" disabled>Оберіть категорію</option>
          <option th:each="category : ${categories}"
                  th:value="${category.id}"
                  th:text="${category.name}">
          </option>
        </select>
      </div>
      <div class="form-actions">
        <button type="submit" class="btn btn-success">Оновити</button>
        <a href="/products" class="btn btn-secondary">Відмінити</a>
      </div>
    </form>
  </main>
  <div th:replace="~{fragments/footer :: footer}"></div>
</div>

<script>
  function validateForm() {
    const categorySelect = document.querySelector('.form-select');
    if (categorySelect.value === "") {
      alert("Будь ласка, оберіть категорію.");
      return false;
    }
    return true;
  }
</script>
</body>
</html>
