<!DOCTYPE html>
<html lang="ua" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<main class="container mt-5">
<h1>Категорії</h1>
<a href="/categories/add" class="btn btn-primary">Додати нову категорію</a>


  <div th:if="${message}" class="alert alert-success">
  <span th:text="${message}"></span>
</div>

<table class="table">
  <thead>
  <tr>
    <th>Назва</th>
    <th>Зображення</th>
    <th>Дії</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="category : ${categories}">
    <td th:text="${category.name}"></td>
    <td>
      <img th:src="${category.imageUrl}" alt="Category Image" width="200" height="200">
    </td>
    <td>
      <a th:href="@{/categories/edit/{id}(id=${category.id})}" class="btn btn-warning">Редагувати</a>
      <a th:href="@{/categories/{id}/products(id=${category.id})}" class="btn btn-info">Переглянути товари</a>
      <a th:href="@{/categories/delete/{id}(id=${category.id})}"
         class="btn btn-danger"
         onclick="return confirm('Ви впевнені?')">Видалити</a>
    </td>
  </tr>
  </tbody>
</table>
</main>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
