<!DOCTYPE html>
<html lang="ua" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

<div class="page-wrapper">
  <main class="container mt-5 content">
    <h1 class="page-title">Політика конфіденційності</h1>

    <p class="last-update">Дата останнього оновлення: <span class="highlight">Завтра</span></p>

    <section class="privacy-section">
      <h2 class="section-title">1. Загальні положення</h2>
      <p class="section-text">Ця Політика конфіденційності описує, як ми збираємо, використовуємо та захищаємо вашу
        персональну інформацію, коли ви користуєтесь нашим веб-сайтом. Ми прагнемо забезпечити конфіденційність вашої
        інформації та дотримуємося всіх відповідних законів про захист даних.</p>
    </section>

    <section class="privacy-section">
      <h2 class="section-title">2. Збір інформації</h2>
      <p class="section-text">Ми можемо збирати таку інформацію:</p>
      <ul>
        <li>Інформацію про ваше особисте життя</li>
        <li>Інформацію про вашу платіжну систему</li>
        <li>Інформацію з файлів вашого комп'ютера</li>
      </ul>
    </section>

    <section class="privacy-section">
      <h2 class="section-title">3. Використання інформації</h2>
      <p class="section-text">Ми використовуємо зібрану інформацію для таких цілей:</p>
      <ul>
        <li>Продаємо її комуністичній партії Китаю</li>
        <li>Продаємо її парламенту Індії</li>
        <li>Продаємо її в дарк вебі оптом</li>
        <li>Захист від шахрайства та інших незаконних дій.</li>
      </ul>
    </section>

    <section class="privacy-section">
      <h2 class="section-title">4. Безпека</h2>
      <p class="section-text">Ми <span class="fun-text">не вживаємо</span> відповідних заходів безпеки для захисту вашої
        інформації від несанкціонованого доступу, використання, розкриття, зміни або знищення.</p>
    </section>

    <section class="privacy-section">
      <h2 class="section-title">5. Зв’язок з нами</h2>
      <p class="section-text">Якщо у вас виникли будь-які питання щодо цієї Політики конфіденційності, можете <span
        class="fun-text">поплакати</span>, нам байдуже.</p>
    </section>
  </main>

  <div th:replace="~{fragments/footer :: footer}"></div>
</div>
</body>
</html>
