<!DOCTYPE html>
<html lang="ua" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}">

</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

<div class="page-wrapper">
  <main class="container mt-5 content">
    <h1 class="page-title">Умови використання</h1>
    <p class="last-update">Дата останнього оновлення: <span class="highlight">Вчора</span></p>

    <section class="terms-section">
      <h2 class="section-title">1. Загальні положення</h2>
      <p class="section-text">Ці Умови використання регулюють використання вами <span class="brand-name">НАШОГО ПРЕКРАСНОГО</span>
        веб-сайту. Будь ласка, уважно прочитайте ці Умови перед використанням нашого веб-сайту.</p>
    </section>

    <section class="terms-section">
      <h2 class="section-title">2. Прийняття умов</h2>
      <p class="section-text">Використовуючи наш веб-сайт, ви погоджуєтесь з цими Умовами використання. Якщо ви не
        погоджуєтесь з цими Умовами, будь ласка, не використовуйте наш веб-сайт.</p>
    </section>

    <section class="terms-section">
      <h2 class="section-title">3. Зв’язок з нами</h2>
      <p class="section-text">Якщо у вас виникли будь-які питання щодо цих Умов використання, можете <span
        class="fun-text">поплакати</span>, нам байдуже.</p>
    </section>
  </main>

  <div th:replace="~{fragments/footer :: footer}"></div>
</div>
</body>
</html>
