<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<main class="container my-4 text-center">
  <div class="py-5">
    <h1 class="display-1">500</h1>
    <h2 class="lead">Помилка сервера</h2>
    <p class="lead">Щось пішло не так. Спробуйте оновити сторінку або повернутися пізніше.</p>
    <a th:href="@{/}" class="btn btn-primary">На головну</a>
  </div>
</main>
</body>
</html>
