<!DOCTYPE html>
<html lang="ua" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

<div class="page-wrapper">
  <div class="background-wrapper">
    <div class="cityscape"></div>
    <div class="cityscape-revers"></div>
  </div>

  <div class="container">
    <div class="login-container">
      <h2>Відновлення пароля</h2>

      <div th:if="${successMessage}" class="alert alert-success" role="alert" th:text="${successMessage}"></div>
      <div th:if="${errorMessage}" class="alert alert-danger" role="alert" th:text="${errorMessage}"></div>

      <form th:action="@{/user/forgot-password}" method="post">
        <div class="form-group">
          <label for="email" class="form-label">Введіть вашу електронну пошту:</label>
          <input type="email" id="email" name="email" required class="form-control"
                 placeholder="example@email.com">
        </div>
        <button type="submit" class="btn btn-login">Надіслати код підтвердження</button>
      </form>

      <div class="register-link">
        <p class="mb-0">
          <a th:href="@{/user/login}" class="text-muted">Повернутися до входу</a>
        </p>
      </div>
    </div>
  </div>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>
